@import url('https://fonts.googleapis.com/css2?family=Anton&family=Signika+Negative:wght@300&display=swap');

body {
    font-family: 'Signika Negative', sans-serif;
    background-image: url(assets/bg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.gloss {
    width: 21rem;
    height: 22rem;
    padding: 3.7rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}

.gloss:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}

.searchBar{
    width: 12rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.Anton{
    font-family: 'Anton', sans-serif;
}

.searchBtn:hover{
    border: 1px solid black;
}